.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__header {
  background-color: rgb(88, 122, 111);
  height: 5rem;
  display: grid;
  place-content: center;
  width: 100%;
}

.form__header-heading {
  color: antiquewhite;
}

.form {
  /* border: 1px solid red; */
  width: 50%;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > * {
  width: 100%;
}

.form__button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form__button,
.form__button-cancel {
  width: 13rem;
  margin: 0 1rem;

  border: none;
  border-radius: 5px;
  transition: all 0.2s ease-out;
}

.form__button {
  background-color: #587a6f;
  color: antiquewhite;
}

.form__button-cancel {
  background-color: rgb(211, 69, 69);
  color: antiquewhite;
}

.form__button:hover {
  color: #587a6f;
  background-color: antiquewhite;
  border: 2px solid #587a6f;
}

.form__button-cancel:hover {
  color: rgb(211, 69, 69);
  background-color: antiquewhite;
  border: 2px solid rgb(211, 69, 69);
}
